* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

body {
    font-size: 16px;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #313131;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.container {
    width: 90%;
    /* max-width: 1000px; */
    margin: auto;
}

ul.snippets-list li.snippet-item {
    list-style: square;
    color: #3a9bb6;
    margin: 10px;
}

ul.snippets-list li.snippet-item li.snippet-link {
    color: #333;
}

div.home {
    display: block;
    width: 100%;
    text-align: center;
}

div.home a {
    color: #3a9bb6;
    font-size: 2rem;
}